* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica,Arial; /* ke thua len the chỉ có chữ*/
}
/* 
1. Vi tri 
2. Kich thước  ( w, h)
3. Màu sắc
4.Kiểu dáng

*/

#main {
   
    
}
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
}


#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav > li > a {
    color: #fff;
    text-transform:  uppercase;


}
#nav > li {
    display: inline-block;

}

#nav li {
    display: inline-block;
    position: relative;
}
#nav li a {
    
    text-decoration: none; /* bỏ gạch chân */
    line-height: 46px; /* Cho kích thước bằng với header va căn chữ giữa */ 
    padding: 0 24px;
    display: block;

}
#nav li:hover .subnav {
    display: block;
}


#nav .subnav {
   /*  display: none; */
    position: absolute;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
    top: 100%;
    left: 0;
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}



#header .search-bottom {
    float: right;

}
#header .search-icon {
    color: #fff;
}


#slider {

    /* min-height: 500px;
    background-color: #000; */
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('https://www.w3schools.com/w3images/chicago.jpg') top center /cover no-repeat;

}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    tranform: translateX(-50%);
    text-align: centre;
}

#content {

}
#footer {

}

